body {
  font-family: Arial;
  background: #f4f4f4;
  padding: 20px;
  direction: rtl;
}

form input, form textarea, form button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 8px;
}

#cvOutput {
  background: #fff;
  padding: 20px;
  margin-top: 30px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
